:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --accent: #a4b4f4ce;
  --section-border: #333;
}

body {
  background-color: #0f0f0f;
  color: #33ff33;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--section-border);
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  font-family: monospace;
  color: #33ff33;
  margin: 0 1rem;
  text-decoration: none;
  position: relative;
}

nav a.active::after {
  content: " ←";
  animation: blink 1s step-end infinite;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--accent);
}

h2 {
  font-size: 1.2rem;
  color: var(--accent);
  border-bottom: 1px solid var(--section-border);
  padding-bottom: 0.3rem;
  margin-top: 2rem;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.contact a {
  display: block;
  margin-bottom: 0.3rem;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

img.blog-photo {
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}

footer {
  background-color: #1e1e1e;
  padding: 2rem 1rem;
  text-align: center;
  border-top: 1px solid var(--section-border);
  margin-top: 1rem;
}

footer .contact {
  max-width: 600px;
  margin: 0 auto;
}

footer h2 {
  color: var(--accent);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border: none;
}

footer a {
  display: block;
  color: var(--accent);
  text-decoration: none;
  margin-bottom: 0.3rem;
}

footer a:hover {
  text-decoration: underline;
}

footer i {
  margin-right: 8px;
}

